namespace: db

replicaCount: 1

image:
  repository: redis/redis-stack-server
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 6379

persistence:
  enabled: true
  size: 1Gi
  storageClass: standard

auth:
  password: "{{ vault kv get -field=password kv/redis }}"