apiVersion: batch/v1
kind: CronJob
metadata:
  name: lms-migrations-cronjob
  namespace: lms-backend
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: lms-migrations-cronjob
            image: 1blacklung1/lms-marketplace:latest
            command: ["dotnet", "LmsAndOnlineCoursesMarketplace.MVC.dll", "migrate"]
            env:
                - name: ConnectionStrings__DefaultConnection
                  valueFrom:
                    secretKeyRef:
                      name: secret
                      key: connection-string
          restartPolicy: OnFailure