namespace: db

redis:
  host: redis-redis-lb.db.svc.cluster.local
  port: 6379
  password: "{{ vault kv get -field=password kv/redis }}"

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false