@model LmsAndOnlineCoursesMarketplace.MVC.Models.Course.CreateCourseVM

@{
	ViewData["Title"] = "Create Course";
}
@if (TempData["Message"] != null)
{
	<div class="alert alert-danger">@TempData["Message"]</div>
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
	<div class="sa4d25">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="course_tabs_1">
						<div id="add-course-tab" class="step-app">
							<div class="step-content">
								<div class="step-tab-panel step-tab-info active" id="tab_step1">
									<div class="tab-from-content">

										<div class="title-icon">
											<h3 class="title"><i class="uil uil-info-circle"></i>Important Information</h3>
										</div>

										<div class="course__form">
											<div class="general_info10">
												<div class="row">
													<div class="col-lg-12 col-md-12">
														<div class="ui search focus mt-30 lbel25">
															<label>Course Title*</label>
															<div class="ui input swdh19">
																<input asp-for="Title" class="prompt srch_explore"
																       placeholder="Course title here" maxlength="60" required/>
															</div>
															<span asp-validation-for="Title" class="text-danger"></span>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="form_group mt-30">
															<label class="label25 text-left">Course Image*</label>
															<input type="file" class="uploadBtn-input-preview" name="Image" id="Image" accept="image/*" required/>
														</div>
														<span asp-validation-for="Image" class="text-danger"></span>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="ui search focus lbel25 mt-30">
															<label>Short Description*</label>
															<div class="ui form swdh30">
																<div class="field">
																	<textarea asp-for="ShortDescription" rows="3" placeholder="Short description..." required></textarea>
																</div>
															</div>
															<span asp-validation-for="ShortDescription" class="text-danger"></span>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="ui search focus lbel25 mt-30">
															<label>Description*</label>
															<div class="ui form swdh30">
																<div class="field">
																	<textarea asp-for="Description" rows="3" placeholder="Full course description..." required></textarea>
																</div>
															</div>
															<span asp-validation-for="Description" class="text-danger"></span>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="ui search focus lbel25 mt-30">
															<label>Requirements*</label>
															<div class="ui form swdh30">
																<div class="field">
																	<textarea asp-for="Requirements" rows="3" placeholder="One requirement per line" required></textarea>
																</div>
															</div>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="ui search focus mt-30 lbel25">
															<label>Duration*</label>
															<div class="ui left icon input swdh19">
																<input asp-for="Duration" type="text" placeholder="Duration in hours (e.g., 38)" required/>
															</div>
															<span asp-validation-for="Duration" class="text-danger"></span>
														</div>
													</div>

													<!-- Категория -->
													<div class="col-lg-12 col-md-12">
														<div class="ui search focus mt-30 lbel25">
															<label>Category*</label>
															<div class="ui left icon input swdh19">
																<input asp-for="Category" placeholder="Category" required/>
															</div>
															<span asp-validation-for="Category" class="text-danger"></span>
														</div>
													</div>

													<!-- Язык -->
													<div class="col-lg-12 col-md-12">
														<div class="ui search focus mt-30 lbel25">
															<label>Language*</label>
															<div class="ui left icon input swdh19">
																<input asp-for="Language" placeholder="Language" required />
															</div>
															<span asp-validation-for="Language" class="text-danger"></span>
														</div>
													</div>

													<!-- Цена -->
													<div class="license_pricing mt-30 mb-30">
														<label class="label25">Price*</label>
														<div class="row">
															<div class="col-lg-4 col-md-6 col-sm-6">
																<div class="loc_group">
																	<div class="ui left icon input swdh19">
																		<input asp-for="Price" type="text" placeholder="$0" required/>
																	</div>
																	<span class="slry-dt">USD</span>
																</div>
															</div>
														</div>
														<span asp-validation-for="Price" class="text-danger"></span>
													</div>

													<!-- Кнопка отправки -->
													<button data-direction="finish" class="btn btn-default steps_btn">Submit for Review</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script src="~/assets/js/vertical-responsive-menu.min.js"></script>
<script src="~/assets/js/jquery-3.7.1.min.js"></script>
<script src="~/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/lib/OwlCarousel/owl.carousel.js"></script>
<script src="~/assets/lib/semantic/semantic.min.js"></script>
<script src="~/assets/lib/bootstrap-select/docs/docs/dist/js/bootstrap-select.js"></script>
<script src="~/assets/lib/ckeditor5/ckeditor.js"></script>
<script src="~/assets/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/assets/js/custom.js"></script>
<script src="~/assets/js/night-mode.js"></script>
<script src="~/assets/js/jquery-steps.min.js"></script>