<nav class="vertical_nav">
	<div class="left_section menu_left" id="js-menu">
		<div class="left_section">
			<ul>
				<li class="menu--item">
					<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu--link active" title="Dashboard">
						<i class="uil uil-apps menu--icon"></i>
						<span class="menu--label">Dashboard</span>
					</a>
				</li>
				<li class="menu--item">
					<a asp-area="Admin" asp-controller="Courses" asp-action="Index" class="menu--link" title="Courses">
						<i class='uil uil-book-alt menu--icon'></i>
						<span class="menu--label">Courses</span>
					</a>
				</li>
				<li class="menu--item">
					<a asp-area="Admin" asp-controller="CreateCourse" asp-action="Index" class="menu--link" title="Create Course">
						<i class='uil uil-plus-circle menu--icon'></i>
						<span class="menu--label">Create Course</span>
					</a>
				</li>
				@* <li class="menu--item"> *@
				@* 	<a href="instructor_verification " class="menu--link" title="Verification"> *@
				@* 		<i class='uil uil-check-circle menu--icon'></i> *@
				@* 		<span class="menu--label">Verification</span> *@
				@* 	</a> *@
				@* </li> *@
			</ul>
		</div>
		<div class="left_section pt-2">
			<ul>
				<li class="menu--item">
					<a asp-area="" asp-controller="Settings" asp-action="Index" class="menu--link" title="Setting">
						<i class='uil uil-cog menu--icon'></i>
						<span class="menu--label">Settings</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
