<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Index</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/assets/images/fav.png">
    <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js">
    </script>

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link href='~/assets/lib/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/assets/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link href="~/assets/css/night-mode.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="~/assets/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/assets/lib/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/lib/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/lib/bootstrap-select/docs/docs/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/semantic/semantic.min.css">

</head>
<body>
@await Html.PartialAsync("_Header")
@await Html.PartialAsync("_Sidebar");
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer");
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/assets/js/jquery-3.7.1.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/lib/OwlCarousel/owl.carousel.js"></script>
<script src="~/assets/lib/semantic/semantic.min.js"></script>
<script src="~/assets/lib/bootstrap-select/docs/docs/dist/js/bootstrap-select.js"></script>
<script src="~/assets/js/custom.js"></script>
<script src="~/assets/js/night-mode.js"></script>
<script src="~/assets/js/chat.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>