@model LmsAndOnlineCoursesMarketplace.MVC.Models.Profile.EditProfileVM

@{
	ViewData["Title"] = "Profile settings";
}

<div class="wrapper">
	<div class="sa4d25">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="st_title"><i class="uil uil-cog"></i> Settings</h2>
					<div class="setting_tabs">
						<ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-account-tab" data-bs-toggle="pill"
								   href="#pills-account" role="tab" aria-selected="true">Account</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-account" role="tabpanel"
						     aria-labelledby="pills-account-tab">
							<div class="account_setting">
								<h4>Your Cursus Account</h4>
								<p>This is your public presence on Cursus. You need a account to upload your paid
									courses, comment on courses, purchased by students, or earning.</p>
								<div class="basic_profile">
									<div class="basic_ptitle">
										<h4>Basic Profile</h4>
										<p>Add information about yourself</p>
									</div>
									<form asp-controller="Settings" asp-action="Index" method="post" class="basic_form">
										<div class="row">
											<div class="col-lg-12">
												<div class="ui search focus mt-30">
													<div class="ui left icon input swdh11 swdh19">
														<input asp-for="Name" class="prompt srch_explore" type="text"
														       maxlength="64" placeholder="Full Name">
														<span asp-validation-for="Name" class="text-danger"></span>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="ui search focus mt-30">
													<div class="ui left icon input swdh11 swdh19">
														<input asp-for="JobPosition" class="prompt srch_explore"
														       type="text" maxlength="60" placeholder="Headline">
														<span asp-validation-for="JobPosition"
														      class="text-danger"></span>
														<div class="form-control-counter"
														     data-purpose="form-control-counter">36
														</div>
													</div>
													<div class="help-block">Add a professional headline like, "Engineer
														at Cursus" or "Architect."
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="ui search focus mt-30">
													<div class="ui form swdh30">
														<div class="field">
															<textarea asp-for="Description" rows="3" name="description"
															          id="id_about"
															          placeholder="Write a little description about you..."></textarea>
															<span asp-validation-for="Description"
															      class="text-danger"></span>
														</div>
													</div>
													<div class="help-block">Links and coupon codes are not permitted in
														this section.
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="divider-1"></div>
												<button type="submit" class="save_btn">Save Changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Body End -->

<script src="~/assets/js/vertical-responsive-menu.min.js"></script>
<script src="~/assets/js/jquery-3.7.1.min.js"></script>
<script src="~/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/lib/OwlCarousel/owl.carousel.js"></script>
<script src="~/assets/lib/bootstrap-select/docs/docs/dist/js/bootstrap-select.js"></script>
<script src="~/assets/lib/semantic/semantic.min.js"></script>
<script src="~/assets/js/custom.js"></script>
<script src="~/assets/js/night-mode.js"></script>	