global:
  image:
    repository: 1blacklung1/lms-marketplace
    tag: latest
    pullPolicy: IfNotPresent

  namespaces:
    backend: lms-backend
    db: db

  service:
    type: NodePort
    port: 80

  httpRoute:
    enabled: false

  redis:
    host: redis-redis-lb.db.svc.cluster.local
    port: 6379

  postgresql:
    host: postgres-headless-svc.db.svc.cluster.local
    port: 5432
    database: MarketplaceDbs
    username: postgres
    password: ""