apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-redis-headless
  labels:
    app: {{ .Release.Name }}-redis
spec:
  clusterIP: None
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: {{ .Release.Name }}-redis